<div class="container">
  <button class="back-button" (click)="goBack()">← Back</button>
  <h2>PATIENTS</h2>
  <table>
    <thead>
      <tr>
        <th>Email</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Date of Birth</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let patient of patients">
        <td>{{patient.email || 'No information'}}</td>
        <td>{{ patient.firstName || 'No information' }}</td>
        <td>{{ patient.lastName || 'No information' }}</td>
        <td>{{ patient.dateOfBirth ? (patient.dateOfBirth | date: 'mediumDate') : 'No information' }}</td>
        <td>
          <div class="actions">
            <button (click)="deletePatient(patient.id)">Delete</button>
            <a [routerLink]="['/patient-detail', patient.id]">Details</a>
            <a [routerLink]="['/update-patient', patient.id]">Edit</a>
            <button (click)="createMedicalRecord(patient.id)">Create Medical Record</button>
            <a *ngIf="authService.getCurrentUser()?.role === 'doctor'"
              [routerLink]="['/create-appointment']" 
              [queryParams]="{ patientId: patient.id }"
              class="action-btn create">
              Create Appointment
            </a>
          </div>
        </td>        
      </tr>
    </tbody>
  </table>

  <div class="pagination">
    <button (click)="page = page - 1; loadPatients()" [disabled]="page <= 1">
      Previous
    </button>
    <button (click)="page = page + 1; loadPatients()" [disabled]="isLastPage()">
      Next
    </button>
  </div>
</div>
