<div class="grid-container">
  <!-- Title and Subtitle in the first row -->
  <div class="grid-item title" style="grid-column: 3 / span 2; grid-row: 1;">
    <span style="white-space: pre-line">
      <h2>HealthSafe</h2>
      <h3>Healthcare services platform</h3>
    </span>
  </div>

  <!-- Title -->
  <<div class="grid-row" style="grid-column: 1 / span 6; grid-row: 2; display: flex; gap: 1rem;">
  <button type="button" class="cancel-button" (click)="backToList()">Back to List</button>
  <h2 class="section-title" style="display: flex; width: 65%; font-size:45px; justify-content: center; align-items: center;">VIEW MEDICAL RECORD</h2>
  </div>



  <!-- Profile and Logout Buttons -->
  <div class="grid-item profile-button" style="grid-column: 5; grid-row: 1;">
    <app-view-profile-button></app-view-profile-button>
  </div>
  <div class="grid-item logout-button" style="grid-column: 6; grid-row: 1;">
    <app-logout-button></app-logout-button>
  </div>

  <!-- View Form -->
  <div class="records-grid" style="grid-column: 1 / span 6; grid-row: 3;">
    <!-- Date -->
    <div class="grid-row">
      <div class="field-title" style="grid-column: 1 / span 1;">Date</div>
      <div class="field-value" style="grid-column: 1 / span 2;">
        {{ record.date | date: 'short' }}
      </div>
    </div>

    <!-- Diagnosis -->
    <div class="grid-row">
      <div class="field-title" style="grid-column: 1 / span 2;">Diagnosis</div>
      <div class="field-value" style="grid-column: 1 / span 2;">
        {{ record.diagnosis }}
      </div>
    </div>

    <!-- Prescriptions -->
    <div class="grid-row">
      <div class="field-title" style="grid-column: 1 / span 6;">Prescriptions</div>
      <div class="field-value" style="grid-column: 1 / span 6;">
        <ul>
          <li *ngFor="let prescription of record.prescriptions">{{ prescription }}</li>
        </ul>
      </div>
    </div>

    <!-- Notes -->
    <div class="grid-row">
      <div class="field-title" style="grid-column: 1 / span 6;">Notes</div>
      <div class="field-value" style="grid-column: 1 / span 6;">
        {{ record.notes }}
      </div>
    </div>


  </div>
</div>
