.appointments-table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
  border-radius: 10px; /* Rounded corners */
  overflow: hidden;
}

.appointments-table th,
.appointments-table td {
  font-weight: normal;
  padding: 8px;
  text-align: left;
}

.appointments-table th {
  color: #E4F0D0;
  font-weight: normal;
}

.appointments-table td {
  color: #FFFCF7;
  font-weight: normal;
}

.appointments-table tr:nth-child(even) {
  background-color: #1C2B1B;
}

.appointments-table tbody:hover {
  background-color: #1C2B1B;
}

.panel p {
  font-size: 16px;
  color: #FFFCF7;
  font-weight: normal;
  margin: 10px 0;
}

.appointment-link {
  color: #FFFCF7; /* Green color for links */
  text-decoration: none; /* Remove underline */
}

.appointment-link:hover {
  text-decoration: none; /* Add underline on hover */
}
